$mainblack: #292824;
$purple: #531E7D;
$gray60: #7E7D7B;
$red: #E81D25;

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #F6F5F4;
}

h1 {
    font-family: "Recoleta Medium", Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 42px;
    font-weight: 500;
    color: $purple;
    text-align: center;
    max-width: 708px;
    margin: 0 auto;

    @media (max-width: 1023px) {
        font-size: 24px;
        line-height: 28px;
        max-width: 356px;
    }
}

h2 {
    font-family: "Inter Semi Bold", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: $purple;

    @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (max-width: 358px) {
        font-size: 14px;
    }
}

.container {
    max-width: 1104px;
    margin: 0 auto;
    padding: 0 16px;
}

.top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 817px;
    background: linear-gradient(180deg, #FDFDFD 36.07%, rgba(255, 255, 255, 0.05) 94.89%);
    z-index: 5;

    @media (max-width: 1023px) {
        height: 374px;
    }
}

.btn-default {
    border: 1px solid #F4F4F4;
    outline: none;
    appearance: none;
    padding: 16px 24px;
    background-color: #FFFFFF;
    border-radius: 42px;
    font-family: "Inter Medium", Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 8px;
    color: $mainblack;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover {
        background-color: $purple;
        color: #FFFFFF;
    }

    @media (max-width: 1023px) {
        padding: 12px;
    }
}

.btn-large {
    display: block;
    border: none;
    outline: none;
    appearance: none;
    font-family: "Inter Medium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: $purple;
    border-radius: 64px;
    padding: 48px 112px;
    cursor: pointer;
    transition: all .3s ease-out;

    @media (max-width: 1023px) {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        padding: 48px;
    }
}

.focus-cards {
    margin-top: 12px;

    .btn-large {
        margin: 12px auto 0;
    }
}

.card-wrapper {
    display: flex;
    margin: 0 -6px;

    @media (max-width: 1023px) {
        flex-direction: column;
        margin: 0;
    }
}

.focus-card {
    position: relative;
    padding: 42px 48px 44px 48px;
    box-sizing: border-box;
    background-color: #FDFDFD;
    backdrop-filter: blur(32px);
    border-radius: 40px;
    width: 50%;
    max-width: 546px;
    margin: 0 6px;

    &__title {
        font-family: "Inter Medium", Arial, Helvetica, sans-serif;
        font-size: 64px;
        line-height: 70px;
        letter-spacing: -0.02em;
        background: linear-gradient(180deg, #8348B2 0%, rgba(191, 125, 244, 0.4) 125.83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-top: 140px;

        @media (max-width: 1120px) {
            font-size: 50px;
            line-height: 56px;
        }

        @media (max-width: 1023px) {
            font-size: 40px;
            line-height: 46px;
            margin-top: 114px;
        }

        @media (max-width: 358px) {
            font-size: 32px;
            line-height: 38px; 
        }
    }

    &__subtitle {
        font-family: "Inter Medium", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.64px;
        font-weight: 500;
        color: $purple;
        margin-top: 20px;
        //max-width: 340px;

        @media (max-width: 1023px) {
            font-size: 14px;
            line-height: 18px;
            margin-top: 16px;
        }
    }

    &__btn-order {
        position: absolute;
        top: 36px;
        right: 48px;

        @media (max-width: 1023px) {
            top: 28px;
            right: 28px;
        }
    }

    @media (max-width: 1023px) {
        width: 100%;
        max-width: 100%;
        margin: 12px 0 0 0;
        padding: 32px 28px 36px 28px;
        border-radius: 32px;
    }

    &:first-child {
        @media (max-width: 1023px) {
            margin: 0;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}

.reviews-switcher {
    color: #DBD0E3;
    text-decoration: underline;
    cursor: pointer;
    transition: all .3s ease-out;

    &.active {
        color: $purple;
        text-decoration: none;
        cursor: default;
    }
}