$mainblack: #292824;
$purple: #531E7D;
$gray60: #7E7D7B;
$red: #E81D25;

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #F6F5F4;
}

h1 {
    font-family: "Recoleta Medium", Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 42px;
    color: $purple;
    text-align: center;
    max-width: 708px;
    margin: 0 auto;

    @media (max-width: 1023px) {
        font-size: 24px;
        line-height: 28px;
        max-width: 356px;
    }
}

h2 {
    font-family: "Inter Semi Bold", Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: $purple;

    @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (max-width: 358px) {
        font-size: 14px;
    }
}

.container {
    max-width: 1104px;
    margin: 0 auto;
    padding: 0 16px;
}

.top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 817px;
    background: linear-gradient(180deg, #FDFDFD 36.07%, rgba(255, 255, 255, 0.05) 94.89%);
    z-index: 5;

    @media (max-width: 1023px) {
        height: 374px;
    }
}

.btn-default {
    border: 1px solid #F4F4F4;
    outline: none;
    appearance: none;
    padding: 16px 24px;
    background-color: #FFFFFF;
    border-radius: 42px;
    font-family: "Inter Medium", Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 8px;
    color: $mainblack;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover {
        background-color: $purple;
        color: #FFFFFF;
    }

    @media (max-width: 1023px) {
        padding: 12px;
    }
}

.btn-large {
    display: block;
    border: none;
    outline: none;
    appearance: none;
    font-family: "Inter Medium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: $purple;
    border-radius: 64px;
    padding: 48px 112px;
    cursor: pointer;
    transition: all .3s ease-out;

    @media (max-width: 1023px) {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        padding: 48px;
    }
}

.overflow-hidden {
    overflow: hidden;
}