.blocks {
    position: relative;
    z-index: 20;
    margin-top: 12px;

    &__wrapper {
        display: flex;
        width: 100%;
        margin: 0 -6px;

        @media (max-width: 1023px) {
            flex-direction: column;
            margin: 0;
        }
    }

    &__vector {
        padding-top: 42px;
        padding-bottom: 105px;
        background: #FDFDFD;
        box-sizing: border-box;
        backdrop-filter: blur(32px);
        border-radius: 40px;
        width: 50%;
        max-width: 546px;
        overflow: hidden;
        margin: 0 6px;
        flex-shrink: 0;

        h2 {
            margin-left: 48px;

            @media (max-width: 1023px) {
                margin-left: 28px;
            }
        }

        @media (max-width: 1023px) {
            margin: 12px 0 0 0;
            width: 100%;
            max-width: 100%;
            padding-top: 32px;
            padding-bottom: 84px;
            border-radius: 32px;
            order: 2;
        }
    }

    &__vector-sliders {
        margin-top: 80px;
        user-select: none;

        @media (max-width: 1023px) {
            margin-top: 64px;
        }
    }

    &__vector-wrapper {
        display: flex;
    }

    &__vector-slider-left {
        display: flex;
        align-items: center;

        &.one {
            animation: first-loop 14s linear infinite;
        }

        &.second {
            animation: loop 14s linear infinite;
        }

    }

    &__vector-slider-item {
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 64px;
        padding: 14px;
        margin-right: 12px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
        white-space: nowrap;
        
        &-bull {
            width: 30px;
            height: 30px;
            background: linear-gradient(154.44deg, #939393 24.87%, rgba(255, 255, 255, 0) 103.07%);
            border-radius: 36px;

            @media (max-width: 1023px) {
                width: 20px;
                height: 20px;
            }
        }

        &-text {
            font-family: "Inter Medium", Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 20px;
            color: $mainblack;
            margin-left: 8px;

            @media (max-width: 1023px) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        @media (max-width: 1023px) {
            padding: 12px;
        }

    }

    &__vector-slider-right {
        display: flex;
        align-items: center;
        margin-top: 12px;

        &.one {
            animation: first-loop 14s linear infinite;
            animation-direction: reverse;
        }

        &.second {
            animation: loop 14s linear infinite;
            animation-direction: reverse;
        }

    }

}

@keyframes first-loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
