.doctor {
    position: relative;
    z-index: 20;
    margin-top: 20px;

    &__wrapper {
        position: relative;
        background-color: #FDFDFD;
        border-radius: 64px;
        height: 574px;
        box-sizing: border-box;
        padding: 116px 92px 50px 92px;
        overflow: hidden;
        z-index: 20;

        @media (max-width: 1023px) {
            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(32px);
            border-radius: 32px;
            padding: 24px 28px;
            height: auto;
            overflow: visible;
        }
    }

    &__back-link {
        text-decoration: none;
        color: $gray60;
        font-family: "Inter Medium", Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 16px;
        transition: all .3s ease-out;

        &:hover {
            text-decoration: underline;
        }

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__name {
        font-family: "Recoleta Medium", Arial, Helvetica, sans-serif;
        font-size: 40px;
        line-height: 42px;
        color: $purple;
        max-width: 380px;
        margin-top: 36px;

        @media (max-width: 1023px) {
            font-size: 24px;
            line-height: 28px;
            max-width: 250px;
            margin-top: 0;
        }
    }

    &__position {
        font-family: "Inter Medium", Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: $mainblack;
        margin-top: 16px;

        @media (max-width: 1023px) {
            font-size: 12px;
            line-height: 16px;
            margin-top: 8px;
        }
    }

    &__exp {
        
        margin-top: 114px;

        &-years {
            font-family: "Recoleta Medium", Arial, Helvetica, sans-serif;
            font-size: 40px;
            line-height: 42px;
            color: $purple;

            @media (max-width: 1023px) {
                font-size: 24px;
                line-height: 28px;
            }
        }
        &-sign {
            margin-top: 4px;
            color: $gray60;

            @media (max-width: 1023px) {
                font-size: 12px;
                line-height: 18px;
                margin-top: 0;
            }
        }

        @media (max-width: 1023px) {
            margin-top: 36px;
        }
    }

    &__tags {
        display: flex;
        margin-top: 24px;

        @media (max-width: 1023px) {
            margin-top: 12px;
            flex-wrap: wrap;
        }
    }

    &__tag {
        display: flex;
        padding: 8px 12px;
        border: 1px solid #E9E9E9;
        border-radius: 64px;
        margin-right: 8px;

        &:last-child {
            margin-right: 0; 
        }

        &-bull {
            width: 16px;
            height: 16px;
            background: radial-gradient(95.03% 95.03% at 89.83% 58.15%, #DB6BD7 0%, rgba(255, 255, 255, 0) 100%);
            border-radius: 36px;
            transform: rotate(180deg);
        }

        &-text {
            font-family: "Inter Medium", Arial, Helvetica, sans-serif;
            font-size: 10px;
            line-height: 16px;
            color: $mainblack;
            margin-left: 4px;
        }

        @media (max-width: 1023px) {
            margin-right: 0;
            margin-bottom: 8px;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 15%;
        width: 333px;
        height: 475px;

        img {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 1023px) {
            display: none;
            width: 240px;
            height: 342px;
            bottom: auto;
            top: -125%;
        }
    }

    &__image-mob {
        display: none;
        position: relative;
        width: 62%; //240
        height: auto; //342
        z-index: 10;
        top: 35px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 1023px) {
            display: block;
        }
    }

    @media (max-width: 1023px) {
        margin-top: 48px;
    }

}


