.page-article {
    position: relative;
    z-index: 10;
    margin-top: 12px;

    &__wrapper {
        padding: 80px 24px 120px 24px;
        padding-bottom: 120px;
        background-color: #FDFDFD;
        border-radius: 40px;

        @media (max-width: 1023px) {
            padding: 48px 24px 60px 24px;
            border-radius: 32px; 
        }
    }

    &__content {
        max-width: 732px;
        margin: 0 auto;
    }

    &__h2 {
        font-family: "Inter Semi Bold", Arial, Helvetica, sans-serif;
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        color: $mainblack;
        margin: 52px 0 12px 0;

        &:first-child {
            margin: 0 0 12px 0;
            
            @media (max-width: 1023px) {
                margin: 0 0 8px 0; 
            }
        }

        @media (max-width: 1023px) {
            margin: 44px 0 8px 0; 
        }
    }

    &__p {
        font-size: 16px;
        line-height: 22px;
        color: $mainblack;
        margin: 16px 0;

        &:first-child {
            margin: 0 0 16px 0; 
        }

        &:last-child {
            margin: 16px 0 0 0;
        }

        @media (max-width: 1023px) {
            font-size: 14px;
            line-height: 20px;
        }

    }

    &__img {
        width: 100%;
        height: auto;
    }
}