.promo {
    position: relative;
    z-index: 20;

    &__items {
        position: relative;
        overflow: hidden;

        .owl-nav {
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 88px;
            bottom: 56px;
            left: 50%;
            transform: translateX(-193px);

            @media (max-width: 1023px) {
                bottom: 278px;
                left: auto;
                right: 9px;
                transform: none;
            }
        }

        .owl-next, .owl-prev {
            border: none;
            outline: none;
            appearance: none;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            background: rgba(226, 226, 226, 0.4);
            backdrop-filter: blur(10px);
            background-repeat: no-repeat;
            background-size: 9px 7px;
            background-position: center;
            cursor: pointer;

            & > span {
                display: none;
            }
        }

        .owl-next {
            background-image: url('../images/slider-arrow-purple-right.svg');
        }

        .owl-prev {
            background-image: url('../images/slider-arrow-purple-left.svg');
        }
    }

    &__item {
        background-color: #FDFDFD;
        border-radius: 40px;
        display: flex;
        overflow: hidden;
        height: 462px;

        .btn-default {
            background-color: $purple;
            color: #FFFFFF;
            margin-top: auto;

            @media (max-width: 1023px) {
                position: absolute;
                bottom: 0;
                left: 28px;
                transform: translateY(50%);
                padding: 16px 24px;
                box-sizing: border-box;
            }
        }

        @media (max-width: 1023px) {
            flex-direction: column;
            height: auto;
            border-radius: 32px;
        }
    }

    &__item-left {
        position: relative;
        padding: 92px 104px 56px 92px;
        box-sizing: border-box;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 1023px) {
            width: 100%;
            height: 248px;
            padding: 36px 26px 60px 28px;
        }
    }

    &__title {
        font-family: "Recoleta Medium", Arial, Helvetica, sans-serif;
        font-size: 32px;
        line-height: 30px;
        color: $purple;

        @media (max-width: 1023px) {
            font-size: 24px;
            line-height: 28px;
            width: 100%; 
        }
    }

    &__description {
        margin-top: 32px;
        color: $gray60;

        @media (max-width: 1023px) {
            margin-top: 16px; 
        }
    }

    &__item-right {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 1023px) {
            width: 100%;
            height: 298px;
        }
        
    }
}

