.reviews {
    margin-top: 12px;

    &__wrapper {
        padding: 42px 48px;
        position: relative;
        background: #FDFDFD;
        backdrop-filter: blur(32px);
        border-radius: 40px;
        box-sizing: border-box;
        min-height: 560px;
    }

    &__items {
        position: absolute;
        top: 0;
        bottom: 0;
        padding-bottom: 80px;
        left: 50%;
        width: 546px;
        transform: translateX(-50%);
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
    }

    &__scrim {
        position: fixed;
        bottom: 0;
        left: 50%;
        width: 546px;
        transform: translateX(-50%);
        height: 20%;
        z-index: 40;
        background: linear-gradient(180deg, transparent 0, #FDFDFD 110%);
        pointer-events: none;
    }

    &__item {
        outline: 1px solid #FDFDFD;
        outline-offset: -1px;
        border-radius: 8px;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 16px;
        max-height: 124px;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        transition: all .5s ease-out, outline .3s ease-out, background-color .1s ease-out;

        &:hover {
            background-color: #F7F7F7;
        }

        &-wrap {
            display: flex;
        }

        &-square {
            width: 48px;
            height: 48px;
            background-color: #DFDFDF;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #636363;
            font-family: "Inter Medium", Arial, Helvetica, sans-serif;
            flex-shrink: 0;
            margin-right: 12px;
            transition: all .3s ease-out;
        }

        &-info {

        }

        &-name {
            font-family: "Inter Medium", Arial, Helvetica, sans-serif;
            font-size: 12px;
            line-height: 14px;
            color: #17172B;
            letter-spacing: -0.02em;
        }

        &-about {
            margin-top: 2px;
            font-size: 10px;
            line-height: 12px;
            color: #7C7B79;

        }

        &-text {
            font-size: 12px;
            line-height: 16px;
            color: $gray60;
            margin-top: 8px;
            max-height: 32px;
            overflow: hidden;
            transition: all .1s ease-out;
        }

        &-images {
            display: flex;
            visibility: hidden;
            max-height: 0;
            opacity: 0;
            transition: all .1s ease-out;
        }

        &-image {
            position: relative;
            width: 48px;
            height: 48px;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 12px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-search-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-16px, -16px);
                width: 32px;
                height: 32px;
                border-radius: 8px;
                background-color: rgba(226, 226, 226, 0.4);
                backdrop-filter: blur(10px);
                z-index: 40;
                background-image: url('../images/search.svg');
                background-repeat: no-repeat;
                background-size: 13px 13px;
                background-position: center;
                opacity: 0;
                transition: all .3s ease-out;
            }

            &:hover .reviews__item-image-search-icon {
                opacity: 1;
            }
        }

        &-date {
            font-size: 10px;
            line-height: 12px;
            color: $gray60;
            margin-top: 4px;
        }

        &.active {
            max-height: 500px;
            background-color: #F4F4F4;
            outline: 1px solid #E4E4E4;
        }

        &.active &-images {
            max-height: 48px;
            margin-top: 12px;
            margin-bottom: 8px;
            visibility: visible;
            opacity: 1;
        }

        &.active &-text {
            max-height: 500px;
            color: #292824;
        }

        &.active &-square {
            background-color: #DE80FF;
            color: #FFFFFF;
        }

    }

    

    .btn-large {
        margin: 12px auto 0 auto;
    }
}

