.reviews {
    margin-top: 12px;

    &__wrapper {
        padding: 0 12px;
        position: relative;
        background: #FDFDFD;
        backdrop-filter: blur(32px);
        border-radius: 40px;
        box-sizing: border-box;
        z-index: 10;
        overflow: hidden;

        h2 {
            max-width: 120px;
            padding-bottom: 26px;

            @media (max-width: 1023px) {
                max-width: 183px;
                margin-bottom: 32px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

        @media (max-width: 1023px) {
            padding: 0 12px;
            border-radius: 32px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 135px;
        position: absolute;
        left: 48px;
        top: 42px;
        z-index: 50;

        &-btn {
            display: block;
            width: 100%;
            max-width: 129px;
            background-color: $purple;
            color: white;
            text-align: center;
            border: none;
            white-space: nowrap;
            box-sizing: border-box;
            height: 40px;
            flex-shrink: 0;

            @media (max-width: 1023px) {
                height: 32px;
                max-width: 104px;
            }
        }

        @media (max-width: 1023px) {
            left: 28px;
            top: 32px;
            right: 28px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
        }
    }

    &__items {
        padding-top: 30px;
        padding-bottom: 40px;
        max-width: 546px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        z-index: -1;
        margin: 0 auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none !important;
            display: none !important;
            width: 0 !important;
            height: 0 !important;
            background: transparent !important;
        }

        @media (max-width: 1023px) {
            max-width: 100%;
        }

        &-more {
            display: block;
            border: 1px solid #F4F4F4;
            outline: none;
            appearance: none;
            border-radius: 42px;
            font-family: "Inter Medium", Arial, Helvetica, sans-serif;
            font-size: 10px;
            line-height: 8px;
            font-weight: 500;
            color: #121214;
            background-color: white;
            padding: 16px 24px;
            margin: 16px auto 0 auto;
            cursor: pointer;

            @media (max-width: 1023px) {
                margin: 36px auto 0 auto;
            }
        }

        &.hidden {
            display: none;
        }

        @media (max-width: 1023px) {
            padding-top: 92px;
        }
    }

    &__item {
        position: relative;
        outline: 1px solid #FDFDFD;
        outline-offset: -1px;
        border-radius: 8px;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 16px;
        max-height: 130px;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        transition: all .5s ease-out, outline .3s ease-out, background-color .1s ease-out;
        z-index: 20;

        &:first-child {
            margin-top: 0;
        }

        &-info {
            position: relative;

            &::before {
                content: 'Подробнее';
                font-family: "Inter", Arial, Helvetica, sans-serif;
                font-size: 10px;
                line-height: 12px;
                color: $purple;
                font-weight: 400;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        &:hover {
            background-color: #F7F7F7;
        }

        &-wrap {
            display: flex;
        }

        &-square {
            width: 48px;
            height: 48px;
            background-color: #DFDFDF;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #636363;
            font-family: "Inter Medium", Arial, Helvetica, sans-serif;
            flex-shrink: 0;
            margin-right: 12px;
            transition: all .3s ease-out;

            @media (max-width: 358px) {
                width: 40px;
                height: 40px;
            }
        }

        &-name {
            font-family: "Inter Medium", Arial, Helvetica, sans-serif;
            font-size: 12px;
            line-height: 14px;
            color: #17172B;
            letter-spacing: -0.02em;
        }

        &-about {
            margin-top: 2px;
            font-size: 10px;
            line-height: 12px;
            color: #7C7B79;

        }

        &-text {
            font-size: 12px;
            line-height: 16px;
            color: $gray60;
            margin-top: 8px;
            max-height: 32px;
            overflow: hidden;
            transition: all .1s ease-out;
        }

        &-images {
            display: flex;
            visibility: hidden;
            max-height: 0;
            opacity: 0;
            transition: all .1s ease-out;
        }

        &-image {
            position: relative;
            width: 48px;
            height: 48px;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 12px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-search-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-16px, -16px);
                width: 32px;
                height: 32px;
                border-radius: 8px;
                background-color: rgba(226, 226, 226, 0.4);
                backdrop-filter: blur(10px);
                z-index: 40;
                background-image: url('../images/search.svg');
                background-repeat: no-repeat;
                background-size: 13px 13px;
                background-position: center;
                opacity: 0;
                transition: all .3s ease-out;

                @media (max-width: 1023px) {
                    display: none;
                }
            }

            &:hover .reviews__item-image-search-icon {
                opacity: 1;
            }
        }

        &-date {
            font-size: 10px;
            line-height: 12px;
            color: $gray60;
            margin-top: 4px;
        }

        &.active {
            max-height: 500px;
            background-color: #F4F4F4;
            outline: 1px solid #E4E4E4;
        }

        &.active &-images {
            max-height: 48px;
            margin-top: 12px;
            margin-bottom: 8px;
            visibility: visible;
            opacity: 1;
        }

        &.active &-text {
            max-height: 500px;
            color: #292824;
        }

        &.active &-square {
            background-color: #DE80FF;
            color: #FFFFFF;
        }

        &.active &-info::before {
            visibility: hidden;
        }

        @media (max-width: 358px) {
            max-height: 150px;
            padding: 14px;
        }

    }

    

    .btn-large {
        position: relative;
        z-index: 10;
        margin: 12px auto;
    }
}